<!DOCTYPE html>
</head>
<body>
    <div id="mainContext">
    	<div id="dynamic-component-demo" class="demo">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">
                        <a href="#finding-section">找人中</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#found-section">找到人</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#done-section">交易完成</a>
                    </li>
                </ol>
            </nav>
        </div>
        <div 
            v-if="chosen == 'finding-section'"
            id="finding-section" 
            class="finding-items"  
            style="overflow-y: scroll;overflow-x: hidden; height:300px;">
            <div class="row" v-for="i in list">
                <p class="item-Name" style="margin: 15px;">{{i.name}}</p>
                <p class="date">Due date: {{i.date}}</p>
                <p style="padding-left: 20px;">{{i.interestNum}} 人有興趣</p>
            </div>
        </div>
        <div
            v-if="chosen == 'found-section'" 
            id="found-section">
            <p>section 2</p>
        </div>
        <div
            v-if="chosen == 'done-section'"
            id="done-section">
            <p>section 3</p>
        </div>
    </div>
</body>
</html>